@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html, body, #root, .app{
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
}